NEXT_PUBLIC_SITE_NAME=PT Creative Solution International
NEXT_PUBLIC_SITE_URL=https://www.ptcreativesolution.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=dev-temp
EMAIL_FROM="PT CSI <noreply@ptcreativesolution.com>"
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
RATE_LIMIT_CONTACT_PER_MIN=5

